:root {
    /* --vp-home-hero-name-color: white;  */
    --vp-home-hero-name-color: transparent;
    /* --vp-home-hero-name-background: -webkit-linear-gradient(120deg,#41d1ff 40%, #bd34fe 20%); */
    --vp-home-hero-name-background: linear-gradient(-45deg, #41d1ff 40%, #bd34fe 80%);
    --vp-home-hero-image-background-image: linear-gradient(-45deg, #41d1ff 40%, #bd34fe 30%);
    --vp-home-hero-image-filter: blur(68px);

  }

  .image-bg {
    /* background-color: green !important; */
    /* background-image: var(--vp-home-hero-image-background-image); */
    /* filter: var(--vp-home-hero-image-filter); */
    background-image: var(--vp-home-hero-image-background-image);
    filter: var(--vp-home-hero-image-filter);
    /* transform: translate(-50%, -50%); */
  }

  .dark .VPFeature {
    background-color: #292a2a !important;
  }

  .VPFeature[data-v-549c013f]  {
    background-color: #e7e7e9;
  }
