:root {
    /* --vp-home-hero-name-color: white;  */
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: linear-gradient(-45deg, #9c9cc0 40%, #7c7aa1 80%);
    
    /* --vp-home-hero-image-background-image: linear-gradient(-90deg, #7f5280 30%, #32369b 30%); */
    /* --vp-home-hero-image-background-image: radial-gradient(circle, #0f1143, #3e3b6b, #6c6a95, #9c9cc0, #d0d1ed); */
    /* --vp-home-hero-image-background-image: linear-gradient(to bottom, #090a28, #101431, #181a3a, #202143, #28284c, #312f55, #39375f, #423f68, #4c4973, #57547e, #615f8a, #6c6a95); */
    --vp-home-hero-image-filter: blur(68px);
  }

  .name {
      font-size: 44px !important;
  }

  .dark .VPFeature {
    background-color: #292a2a !important;
    border: 1px solid #3a3939;
  }

  .VPImage.image-src  {
    width: 240px; 
    height: 240px; 
    border-radius: 50%; /* Make the image circular */
    object-fit: contain; /* Ensure the image covers the container */
    filter: drop-shadow(1px 1px 5px #a09f9f);
  }

    .VPFeature  {
    background-color: #e7e7e9;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .VPButton.medium.brand {
    border-color: var(--vp-button-brand-border);
    color: var(--vp-button-brand-text);
    background-color: #25294f !important; 
   }

  .image-bg {
    width: 1620px !important;
    height: 1120px !important;
  }

